@use '../variables';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap; /*diz para o css nao quebrar a linha do botao, e ficar tudo escrito numa só*/



    &--primary{
        color: variables.$textcolor;
        background-color: variables.$purple;
    }

    @media (max-width:640px){
        display: block;
        width: 100%;
    }
    @media (max-width:1024px){
        display: flex;
        align-items: center;
    }
}